@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@font-face {
    font-family: 'calculator';
    src: url('./Digital7Italic-BW658.ttf');
}

:root{
    --text-color: #1d1617;
    --bg-color: #f8f7f7;
    --primary-color: #4c3d40;
    --secondary-color: #9fb2af;
    --accent-color: #6f728b;
    --button-hover: #798684;
}

[data-theme="dark"] {
    --text-color:#e9e2e3;
    --bg-color:#080707;
    --primary-color:#c2b3b6;
    --secondary-color:#4d605d;
    --accent-color:#747790;
    --button-hover: #34413f;
}

a{
    color: var(--accent-color);
    font-weight: 700;
    font-size: 1.2rem;
}

body{
    position: relative;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins',sans-serif;
}

p{
    position: absolute;
    top: 93%;
    left: 85%;
}

#calc{
    position: relative;
    background-color: var(--accent-color);
    width: 30rem;
    height: 40rem;
    border-radius: 1rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display{
    background-color: var(--text-color);
    width: 90%;
    height: 15%;
    border-radius: 1rem;
    color: var(--bg-color);
    padding-left: 1rem;
    font-size: 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'calculator','Poppins';
    margin-bottom: 2rem;
}

#inputs{
    padding-left: 0.2rem;
    margin: 0;
    font-size: 1rem;
}

#recent{
    margin: 0;
    height: 3rem;
}

#theme{
    position: absolute;
    top: 2%;
    left: 1%;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}

#button-container{
    width: 90%;
    height: 73%;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr repeat(5, 1fr);
    gap: 0.15rem;
}

.button{
    border-radius: 0.4rem;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    font-size: 1.4rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    color: var(--text-color);
}

.button:hover{
    background-color: var(--button-hover);
}

#memory{
    font-size: 1.5rem;
    font-family: 'calculator', 'Poppins';
}
